.hero_container {
  padding: var(--global-pad);
  padding-right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.hero_content h1 {
  font-size: clamp(2.25rem, calc(2.9197vw + 0.8723rem), 3.5rem);
  line-height: 2.5rem;
  color: hsl(255, 11%, 22%);
}

.hero_content p {
  color: hsl(257, 7%, 63%);
  margin-top: 2rem;
}

.hero_content button {
  padding: 0.6rem 1.6rem;
  margin-top: 2rem;
  border-radius: 2rem;
  border: none;
  background-color: hsl(180, 66%, 49%);
  color: white;
}

.hero_img {
  max-width: fit-content;
  width: 30rem;
  position: relative;
  inset-inline-start: 6rem;
  flex: 1 1 30rem;
}

.hero_img img {
  max-width: 100%;
}

@media screen and (max-width: 618px) {
  .hero_container {
    padding: var(--global-pad-mobile);
  }
  .hero_content {
    text-align: center;
  }
  .hero_content p {
    margin-top: 1rem;
  }
  .hero_img {
    inset-inline-start: 4rem;
  }
}
