.hero_container {
  padding: var(--global-pad);
  padding-right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.hero_content {
  flex: 1 1 30rem;
}

.hero_content h1 {
  font-size: clamp(2.25rem, calc(2.9197vw + 0.8723rem), 3.5rem);
  line-height: 2.5rem;
  color: hsl(255, 11%, 22%);
}

.hero_content p {
  color: hsl(257, 7%, 63%);
  margin-top: 2rem;
}

.hero_content button {
  padding: 0.6rem 1.6rem;
  margin-top: 2rem;
  border-radius: 2rem;
  border: none;
  background-color: hsl(180, 66%, 49%);
  margin-bottom: 2rem;
  color: white;
}

.hero_content button:hover {
  opacity: 0.8;
}

.hero_img {
  max-width: fit-content;
  width: 30rem;
  position: relative;
  inset-inline-start: 6rem;
  flex: 1 1 25rem;
}

.hero_img img {
  max-width: 100%;
}

.mobile_menu {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
  background-color: hsl(257, 27%, 26%);
  padding: 3rem 1rem;
  border-radius: 1rem;
  text-align: center;
  width: calc(100% - 4rem);
}

.mobile_menu_links li:not(:first-child) {
  margin-top: 1rem;
}

.mobile_menu_links li a {
  color: white;
  font-size: 1.2rem;
}

.line_divider_mobile_menu {
  height: 0.1px;
  width: 100%;
  background-color: hsl(0, 0%, 75%);
  opacity: 0.2;
  margin: 1rem 0;
}

.account_area_mobile_menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login_btn_mobile_menu,
.signup_btn_mobile_menu {
  color: white !important;
  font-size: 1rem;
}

.input_bar_wrapper {
  position: relative;
  inset: -5rem 0 0 0;
  padding: 2rem 3.5rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  background-image: url(images/bg-shorten-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: hsl(257, 27%, 26%);
  flex-wrap: wrap;
  border-radius: 0.6rem;
}

.input_bar_wrapper input,
.input_bar_wrapper button {
  padding: 0.8rem 1.4rem;
  border-radius: 0.6rem;
  border: none;
}

.input_bar_wrapper input {
  flex: 1 1 80%;
}

.input_bar_wrapper button {
  background-color: hsl(180, 66%, 49%);
  color: white;
  flex: 1 1 10rem;
}

.input_bar_wrapper button:hover {
  opacity: 0.8;
}

.page_part_two {
  background-color: hsla(0, 0%, 75%, 0.4);
  padding: var(--global-pad);
  height: fit-content;
}

.advanced_statistics_text {
  text-align: center;
  max-width: 100%;
  margin: 0rem auto;
  width: 30rem;
}

.advanced_statistics_text h2 {
  color: hsl(260, 8%, 14%);
  font-size: clamp(1.4rem, calc(1.5572vw + 0.5985rem), 2rem);
}

.advanced_statistics_text p {
  color: hsl(257, 7%, 63%);
  font-size: clamp(0.8rem, calc(1.5572vw + 0.5985rem), 1rem);
}

.product_details_wrapper {
  margin: 4rem auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 618px) {
  .page_part_two {
    padding: var(--global-pad-mobile);
  }
  .hero_container {
    padding: var(--global-pad-mobile);
  }
  .hero_content {
    text-align: center;
  }
  .hero_content p {
    margin-top: 1rem;
  }
  .hero_img {
    inset-inline-start: 4rem;
  }
  .input_bar_wrapper {
    margin: 0 2rem;
    background-image: url(images/bg-shorten-mobile.svg);
    padding: 1rem;
  }
}
