.hero_container {
  padding: var(--global-pad);
  padding-right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.hero_content h1 {
  font-size: clamp(2.25rem, calc(2.9197vw + 0.8723rem), 3.5rem);
  line-height: 2.5rem;
  color: hsl(255, 11%, 22%);
}

.hero_content p {
  color: hsl(257, 7%, 63%);
  margin-top: 2rem;
}

.hero_content button {
  padding: 0.6rem 1.6rem;
  margin-top: 2rem;
  border-radius: 2rem;
  border: none;
  background-color: hsl(180, 66%, 49%);
  color: white;
  cursor: pointer;
}

.hero_img {
  max-width: fit-content;
  width: 30rem;
  position: relative;
  inset-inline-start: 6rem;
  flex: 1 1 30rem;
}

.hero_img img {
  max-width: 100%;
}

.mobile_menu {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
  background-color: hsl(257, 27%, 26%);
  padding: 3rem 1rem;
  border-radius: 1rem;
  text-align: center;
  width: calc(100% - 4rem);
}

.mobile_menu_links li:not(:first-child) {
  margin-top: 1rem;
}

.mobile_menu_links li a {
  color: white;
  font-size: 1.2rem;
}

.line_divider_mobile_menu {
  height: 0.1px;
  width: 100%;
  background-color: hsl(0, 0%, 75%);
  opacity: 0.2;
  margin: 1rem 0;
}

.account_area_mobile_menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login_btn_mobile_menu,
.signup_btn_mobile_menu {
  color: white !important;
  font-size: 1rem;
}

@media screen and (max-width: 618px) {
  .hero_container {
    padding: var(--global-pad-mobile);
  }
  .hero_content {
    text-align: center;
  }
  .hero_content p {
    margin-top: 1rem;
  }
  .hero_img {
    inset-inline-start: 4rem;
  }
}
