@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,500;1,700&display=swap");

:root {
  --global-pad: 2rem 4rem;
  --global-pad-mobile: 2rem 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

body {
  overflow-x: hidden; /* alerta de gambiarra :) */
}

a {
  text-decoration: none;
}